.account-sidebar {
width: 15%;
/* height:100%; */
background:#1f2630;
border-top: 1px solid #424242;
border-bottom: 1px solid #424242;
}
.account-sidebar ul {
padding: 0;
margin: 0;
list-style: none;
}
.account-sidebar ul li {
margin: 10px 0;
}

.account-sidebar ul li a {
color: #e7e0e0;
text-decoration: none;
text-transform: capitalize;
font-size: 17px;
/*display:block;*/
/*position: relative;*/
}
.account-sidebar ul li a i {
    position: absolute;
    right: 0;
    font-size: 12px;
    top: 8px;
}
.account-main-content {
width: 80%;
   height:100%;
}
